<img src="https://www.wallpaperflare.com/static/602/1003/664/game-of-thrones-game-thrones-logo-wallpaper.jpg"  style="width:100%;height:900px">
<br>
<div class="jumbotron">
	<h3 style="font-family:Alex Brush;text-align:center">All the data from the universe of Ice And Fire you've ever wanted!</h3>
	
	
  </div>
<router-outlet></router-outlet>

<ng4-loading-spinner  [loadingText]="'Loading...'" ></ng4-loading-spinner>
<br><br><br><br>
<div class="footer" style="text-align:center">
	<h4 style="font-family:Alex Brush">&copy;  Sadiya Misbah</h4>
 </div>
